@import url(./styles/global.css);

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 41.5px 158px;
    border-bottom: 1px solid #E5E5E5;
    gap: 285PX;
    background-color: #FFD4D0;
}   

.container-nav-header{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-header ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.navigation-header a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;

}

.navigation-header a:hover{
    color: red;
}
.btn-header{
    display: inline-flex;
    background-color: #000;
    color: white;
    padding: 12px 24px;
    border-radius: 0px;
    gap: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-header:hover{
    transform: scale(1.1);
}

/*------------main------------*/

.hero{
    display: flex;
    align-items: center;
    gap: 48px; /* distância entre texto e imagem */
    padding: 70px 80px;
    background: #FFD4D0;
    min-height: calc(100vh - 100px);
}

.hero-text{
    width: 45%;
}

.cargo{
    font-size: 20px;
    color: #1F1F1F;
    margin-bottom: 25px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-text h1 span{
    color: #FC3314;
}

.descricao{
    font-size: 20px;
    color: #1F1F1F;
    line-height: 1.7;
    max-width: 550px;
    margin-bottom: 40px;
}

.botoes{
    display: flex;
    gap: 20px;
}

.btn-dark{
    background: #111827;
    color: white;
    text-decoration: none;
    padding: 18px 55px;
    font-weight: 600;
    transition: .3s;
}

.btn-light{
    background: white;
    color: #111827;
    text-decoration: none;
    padding: 18px 55px;
    border: 1px solid #d8d8d8;
    font-weight: 600;
    transition: .3s;
}

.btn-dark:hover,
.btn-light:hover{
    transform: scale(1.05);
}

.hero-img{
    width: 50%;
    display: flex;  
    justify-content: center;
}

.hero-img img{
    width: 100%;
    max-width: 650px;
}